
  .bg-primary-color {
    background-color: #ffffff;
  }
  
  .bg-secondary-color {
    background-color: #ece8e2;
  }
  
  .bg-dark-color {
    background-color: #050505;
  }
  
  .primary-color {
    color: #050505;
  }
  
  .secondary-color {
    color: #7a7a7a;
  }

body, html {
    height: 100%;
}
  
  /* NAVBAR */
  #navbar {    
    position: absolute;
    min-width: 1440px;
    height: 228px;
    left: -60px;
    top: 0px;    
  }
  #navbar a {
    color: #050505;
  } 
  #navbar a:hover {
    color: #F9E547;
  }
  #navbar .active {
    border-bottom: 3px dotted #00A5DF;
  }
  .navbar-brand {
    display: flex;
  }
  .navbar-brand img {    
    width: 202px;
    height : 162px;
    min-width:202px;
    min-height:162px;    

    left: 120px;
    top: 30px;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;

    position: absolute;
    right: 60px;    
  }
  .navbar-brand span {
    font-weight: 700;
    font-size: 1.5em;
    margin-left: 0.5em;
  }
  #navbar-items .navbar-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;
    
    position: absolute;
    width: 557px;
    height: 50px;
    right: 60px;
    top: calc(50% - 50px/2 + 7px);
  }
  #navbar-items .nav-item {      
    border-radius: 100px;    
    min-width: 231px;
    min-height: 50px;
    float: left;
    text-align: center;    
    display: flex;
    justify-content: center;
    align-items: center;
    left: 326px;
    top: 0px;
    padding: 12px 40px;
    position: static;
  }
  #navbar-items .bg-color-blue {    
    background-color:#00A5DF;
    color: #FFFFFF;
    flex: none;
    order: 2;
    flex-grow: 0;
    font-family: 'Capriola';
    margin: 0px 40px;    
    font-style: bold;
    font-weight: normal;
    font-size: 19px;
    line-height: 26px;    
    text-align: right;  
  }
  #navbar-items .bg-color-white {    
    background-color:#FFFFFF;
    color: #00A5DF;
    flex: none;
    order: 2;
    flex-grow: 0;
    
    margin: 0px 40px;
    font-family: 'Capriola';
    font-style: bold;
    font-weight: normal;
    font-size: 19px;
    line-height: 26px;    
    text-align: right;  
  }
  
 /* HERO IMAGE */
 .hero-image {
  background-image: url("https://i.ibb.co/tQGpGhk/backbanner1.png");
  /* Set a specific height */
  height: 80%;
  width: 100%;
  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100% ;
  position: relative;  
  min-width: 1440px;
  min-height: 657px;
  top: 229px;

}
.hero-text{
  text-align: left;
  position: absolute;  
  left: 61px;
  top: 220px;
  justify-content: center;
  align-items: center;
  padding: 20px 60px;
  color: #FFFFFF;
}
.hero-text .h1{
  font-family: 'DM Serif Display';
  font-size: 86px;
  font-weight: regular;  
  letter-spacing:0;  
}



.hero-text .bg-color-yellow{
  border-radius: 100px;
  font-family: 'Capriola';
  background-color:#F9E547;
  color: #00A5DF;

/* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px 60px;

  position: absolute;
  width: 470px;
  height: 90x;
  left: 61px;
  top: 290px;

  font-size: 25px;
  font-style: normal;
  font-weight: normal;
  line-height: 26px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.hero-text .bg-color-yellow .icon_wing{  
  margin-left: 10px;
  margin-bottom: 10px; 
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.about-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: static;
  top: 0px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px;

  margin: 100px auto;
  width: 100%;  
  padding: 10px;
}
.about-container .h1{
  position: static;
  margin-top: 300px;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* Header/H1 */  
  font-family: 'DM Serif Display';
  font-style: normal;
  font-weight: normal;
  font-size: 70px;
  line-height: 86px;
  color: #00A5DF;
}
.column {
  float: left;
  width: 33.33%;  
}
.row {  
  width: 100%;
}
/* Clear floats after the columns */
.row:after {  
  content: "";
  display: table;
  clear: both;
}
.block {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 37px;
  
  position: static;  
  left: 0px;
  top: 0px;
}
.about-container .block .title{
  font-family: 'Capriola';
  font-size: 30px;
  color: #575756;
  background:
  radial-gradient(farthest-side, #00A5DF 98%,transparent 50%) bottom right/5px 5px,
  radial-gradient(farthest-side, #00A5DF 98%,transparent 50%) bottom left /5px 5px,
  linear-gradient(#00A5DF,#00A5DF) bottom/calc(100% - 5px) 5px;
  background-repeat:no-repeat;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: static;
  margin: 90px 0px;
}
.block .text{
  font-family: 'Capriola';
  color: #575756;
  font-size: 25px;
    
  justify-content: center;
  align-items: center;
  text-align: center;

  position: static;

  margin: -55px 0px;
}
.do-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: static;
  top: 0px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px;

  margin: 50px auto;
  width: 100%;  
  padding: 10px;
}
.do-container .h1{
  position: static;
  margin-top: 150px;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* Header/H1 */  
  font-family: 'DM Serif Display';
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 86px;
  color: #00A5DF;
}
.btn-color-blue{
  border-radius: 100px;
  font-family: 'Capriola';
  background-color:#00A5DF;
  color: #FFFFFF;

/* Auto layout */
  display: flex;  
  justify-content: center;
  align-items: center;
  padding: 20px 40px;
  width: 300px;
  height: 66x;
  font-size: 25px;
  font-style: normal;
  font-weight: normal;
  line-height: 26px;
  letter-spacing: 0.03em;
  text-transform: uppercase;  
  margin-top: 75px;
}

.insta-container .btn-color-blue{
  margin-top: 115px;
}

.do-container .row4{
  content: "";
  display: table;
  clear: both;
  width: 75%;
}
.do-container .row3{
  content: "";
  display: table;
  clear: both;
  width: 60%;
}
.do-container .row4 .column{
  float: left;
  width: 25%;
  margin-top: 100px;
}
.do-container .row3 .column{
  float: left;
  width: 33.33%;
  margin-top: 100px;
}
.do-container .row4 .block .title2{
  font-family: 'Capriola';
  color: #575756;
  font-size: 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: static;
  margin: 20px 0px;
}
.do-container .row4 .block .icon_do{
  width: 150px;
  height: 132px;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: static;  
}
.do-container .row3 .block .title2{
  font-family: 'Capriola';
  color: #575756;
  font-size: 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: static;
  margin: 20px 0px;
}
.do-container .row3 .block .icon_do{
  width: 150px;
  height: 132px;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: static;  
}
.insta-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: static;
  top: 0px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px;

  margin: 50px auto;
  width: 100%;  
  padding: 10px;
}
.insta-container .h1{
  position: static;
  margin-top: 150px;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* Header/H1 */  
  font-family: 'DM Serif Display';
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  line-height: 86px;
  color: #00A5DF;
}
.insta-container .row4{
  margin-top: -50px;
  content: "";
  display: table;
  clear: both;
  width: 90%;
}
.insta-container .row4 .column{
  float: left;
  width: 25%;
  margin-top: 100px;
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
 /* HERO IMAGE */
 .hero-image-back {
  background-image: url("https://i.ibb.co/7rV6cTd/about-galeria.png");
  /* Set a specific height */
  height: 60%;
  width: 100%;
  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100% ;
  position: relative;  
  min-width: 1440px;
  min-height: 657px;
  top: 229px;
  
}
.hero-image-back .hero-text{
  text-align: right;
  position: absolute;  
  right: 61px;
  top: 120px;
  justify-content: right;
  align-items: right;
  padding: 20px 60px;
  color: #313131;
}
.hero-image-back .hero-text .h1{
  font-family: 'DM Serif Display';
  font-size: 55px;
  font-weight: regular;  
  letter-spacing:0;  
  text-align: right;  
}

.hero-image-back .hero-text .bg-color-blue{
  border-radius: 100px;
  font-family: 'Capriola';
  background-color:#00A5DF;
  color: #FFFFFF;

/* Auto layout */
  
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px 60px;

  right: 45px;
  position: absolute;
  width: 470px;
  height: 90x;
  top: 260px;

  font-size: 25px;
  font-style: normal;
  font-weight: normal;
  line-height: 26px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.hero-image-back .hero-text .bg-color-blue .icon_wing{  
  margin-left: 10px;
  margin-bottom: 10px; 
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.zoom {  
  transition: transform .2s; /* Animation */  
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.cleanzoom {  
  transition: transform .3s; /* Animation */  
  margin: 0 auto;
}

.cleanzoom:hover {
  transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.microzoom {  
  transition: transform .2s; /* Animation */  
  margin: 0 auto;
}

.microzoom:hover {
  transform: scale(1.05); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
